.content{
    /* display: flex; */
   margin-top: 30px;
    margin-left: 70px;
}
.qus1{
    background-color:green;
    color: white;
    border: 5px solid greenyellow;
    border-radius: 20px;
}
.qus2{
    background-color:green;
    color: white;
    border: 5px solid greenyellow;
    border-radius: 20px;
    margin-top: 30px;
}