.content{
   margin-top: 30px;
    margin-left: 400px;
}
.qus1{
    color: white;
    border: 3px solid rgb(117, 130, 243);
    border-radius: 20px;
    width: 50%;
}
.qus2{
    color: white;
    border: 3px solid rgb(117, 130, 243);
    border-radius: 20px;
    margin-top: 30px;
    width: 50%;
}